:root{
    --yellow-header: #FCDC36;
    --purple: #41197f;
    --yellow-filter: invert(86%) sepia(99%) saturate(517%) hue-rotate(330deg) brightness(102%) contrast(98%);
    --purple-filter: invert(17%) sepia(16%) saturate(6594%) hue-rotate(244deg) brightness(101%) contrast(114%);
}
.background-upper-bar {
    display: flex;
    flex-direction: column;
}

.upper-header{
    width: 100%;
    height: 4rem;
    background-color: var(--yellow-header);
    display: flex;
    flex: row;
    justify-content: space-between;
}

.upper-header>span{
    margin: auto 20px;
}

.profile-header>button{
    background-color: var(--yellow-header);
    border:0 solid var(--yellow-header);
    color:var(--purple);
    margin: 10px;
    border: 4px solid var(--purple);
    border-radius: 50%;
}

.profile-logo{
    width: 25px;
    padding: 4px;
    padding:auto;
    filter: var(--purple-filter);
}

.logo-header>img{
    color: black;
    background-color: var(--yellow-header);
}

.container-page-title{

}