.body {
  font-family: Epilogue , sans-serif;
  width: 100%;
}

.fundo {
  background: rgb(65, 25, 127);
  height: 422px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.fundo:before {
  background: white;
  height: 100%;
  width: 100%;
  z-index: 2;
}


.card-login {
  display: grid;
  grid-template-columns: [line-start] auto [line-2] auto [line-3] auto [line-end];
  grid-template-rows: [row-start] 30% [row-1] 40% [row-2] auto [row-end];
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  grid-column: line-end;
  grid-column-start: line-start;
  grid-row: 2;
  grid-row-start: 1;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  width: auto;
}

.login-box {
  display: flex;
  flex-direction: column;
  grid-column: line-end;
  grid-column-start: line-start;
  grid-row: row-end;
  grid-row-start: row-2;
  margin: 0 auto;
  width: 80%;
}

.login-box > h3 {
  color: rgb(65, 25, 127);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 10px;
}

.login-box > input {
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 3px;
  width: 70%;
}

.login-box > button {
  background-color: #fcc436;
  border: #fcc436;
  color: white;
  font-weight: 800;
  height: 2rem;
  margin: 0 auto;
  margin-top: 3px;
  width: 70%;
}

.login-box > button:hover {
  background-color: #ffbb0f;
  transform: scale(1.01, 1.01);
}

.login-box > button:disabled {
  background-color: rgb(204, 204, 204);
}

.tomate {
  grid-column: line-end;
  grid-column-start: line-start;
  grid-row: 3;
  grid-row-start: 2;
  margin: 0 auto;
  width: 100%;
}
