.carousel {
  display: flex;
  max-width: 100vw;
  overflow-x: scroll;
}

.recommendation-image {
  height: 250px;
  width: 250px;
}

.start-recipe-btn {
  bottom: 0;
  left: 50%;
  position: fixed;
}

.div {
  background-color: red;
}