/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  margin: auto;
  position: fixed;
  bottom: 0px;
}

/* @layer components {
  .carousel {
    display: flex;
    max-width: 100vw;
    overflow-x: scroll;
  }

  .recommendation-image {
    height: 250px;
    width: 250px;
  }

  .start-recipe-btn {
    bottom: 0;
    left: 50%;
    position: fixed;
  }
} */
.done-recipe-card {
  border: 1px solid black;
  width: 300px;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.recipe-image {
  min-height: 50px;
}
